body{font-family: Calibri;}
       
        li{width:50%;
            display:inline;
             margin: 1%;}
        h1{text-emphasis: bold;}
        
        h2{margin-top: 5%;
        color: #3500d3;}
        div.note{ width: 30%;
           display: inline-block;
           /*margin-right: 5%;*/}
           
        div>p{font-size: small;
        color: #8a8584;}
        
        #introduction{background-color:#0c0032; color: white}
        a:link{color:#c30735;
        text-decoration: none;}
       
           
        #myworks, #myskills, #aboutme, #contactme{text-align: center; }
        