body{font-family: Calibri;
background-color:#242582;
}

header{position: sticky; 
    top:0;
    z-index: 2;
background-color: #99738E;
width: 100%;}

section.Quicklinks{
    position: fixed;
width: 25%;
left: 0;
}

#lateness, #manners, #ego, #interest, #dressing{
position: relative;
padding-left: 5%;
left: 25%;
width: 70%;
right: 0;

}

li{list-style-type: none;
padding-bottom: 3%;}

p{position: relative;
    top: 5%;
left: 5%;
width: 65%;
height: 80%;}

a{text-decoration: none;
color: yellow;}
a:hover{color: red;}
a:active{color: crimson;}
a:visited{color: #bc986a}

h3{color:#f64c72;}