*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container div{
    background-color: cornflowerblue;
    padding: 70px;
    margin: 3px;
}
@keyframes change{
    from {
        background-color: cornflowerblue;
        width: 90%;
        margin: auto;
    }
    to {background-color: green;
    width: 100%; }
}
#one{
    grid-area: one;
    animation: change 5s ease-out infinite;
    transition-property: width, margin;
    transition-duration: 5s;
    transition-timing-function: ease-out;
    
}
#one:hover{
    width: 90%;
    margin: auto;
}
#two{
    grid-area: two;
} 
#three{
    grid-area: three; 
}
#four{
    grid-area: four;
    
}
#five{
    grid-area: five;
}  

.container{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "one one one one one one"
    "one one one one one one"
    "two three three three three four"
    "two three three three three four"
    "two three three three three four"
    "two three three three three four"
    "five five five five five five"
    "five five five five five five";
    grid-gap: 10px;
}
