body {
  background-color: #000a3f;
  font-family: "Verdana", sans-serif;
}

.container {
  max-width: 360px;
  text-align: center;
  margin-top: 350px;
  padding: 10px 5px;
  background-color: #019fdd;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

body > p {
  color: white;
  text-align: center;
}