body {
  background-color:#00FA9A ;
}
h1 {
  color:#48D1CC ;
}
#first {
  color:#191970 ;
  font-size:20px;
  font-family:'Bradley Hand', cursive;
}
.first {
  color:#FF69B4 ;
  font-family:'Bradley Hand',cursive;
  font-size: 20px;
}