:root {
  --primary-color: rgb(7, 55, 104);
  --secondary-color: rgb(52, 72, 237);
  --tertiary-color: rgb(206, 107, 250);
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  /* margin: 50px; */
  background-image: linear-gradient(
      110deg, rgba(206, 107, 250, .98),
    rgba(52, 72, 237, .98)),
    url('img/topography1.svg');
  /* background-repeat: repeat; */
  /* min-height: calc(100vh - 100px); */
  background-size: 1700px, auto;
  background-attachment: fixed;
  letter-spacing: -1px;
}

video {
 min-width: 100%;
  min-height: 100%;
  opacity: .1;
  position: fixed;
}

.login-section {
  width: 100%;
  height:100vh;
  padding: 30px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.login-section--content {
  width: 95%;
  /* height: 92%; */
  background-color: #fff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  /* z-index: 1; */
}

.login-section--content > section {
  padding: 3rem;
  /* background-color: red; */
}

.login-section--content > section .logo {
  width: 80px;
  display: block;
}

.login-section--content > section .img {
  width: 400px;
}

.login-section--content .second-column {
  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  text-align: center;
  z-index: 2;
  gap: 20px;
  /* background-color: yellow;; */
}

.login-section--content ul {
   display: flex; 
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 2;
}

.login-section--content ul li {
  list-style: none;
}

.login-section--content ul li a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  cursor: pointer;
}

.login-section--content ul li:not(:last-child) {
  margin-right: 2rem;
}

.second-column .user-login {
  background-color: var(--primary-color);
  padding: 3rem 2rem;
  border-radius: 20px;
  
}

.second-column .user-login h1   {
  font-weight: 400;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.input1 {
  width: 100%;
  display: block;
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .9);
  background-image: url(./img/user.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95%;
}

.input2 {
  width: 100%;
  display: block;
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .9);
  background-image: url(./img/padlock.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95%;
  margin-bottom: 50px;
}

.user-login a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
}





#btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: #fff;
  color: black;
  padding: .5rem 1.5rem;
  box-shadow: 0 10px 10px rgb(0, 0, 0, .3);
  transition: all .1s ease-in;
}
#btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.horizontal-line {
  height: 15px;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .9);
  margin-bottom: 1.5rem;
}

.radio-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: red; */
}

@media(max-width: 987px) {
  .login-section--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .login-section--content > section .img {
    display: none;
  }

  .login-section--content > section .logo {
    /* background-color: red; */
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    position: relative;
    margin-top: px;

  }

  .login-section--content .first-column {
    width: 100%;
    display: none;
    margin: 0;
  }

  .login-section--content .second-column {
    display: block;
    /* grid-template-rows: 1fr 6fr;
    justify-content: center;
    text-align: center;
    z-index: 2; */
    /* gap: 20px; */
    /* background-color: yellow;; */
  }

  .login-section--content ul {
    display: flex; 
   justify-content: space-evenly;
   align-self: center;
   text-align: center;
   padding: 1.2rem;
 }
  
}



