*{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    background-color: teal;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav h1{
    padding-left: 60px;
    top:20px;
}
nav ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    top:10px;
}
nav ul li{
    padding: 40px;
    padding-top: 0px;
}
nav ul li:hover{
    border-bottom:4px solid orange ;
    position: relative;
    top: -10px;
}
section{
    position: absolute;
    top: 100px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 60px 0px 60px;
}
section.one, section.two, section.three,section.four{
    position: relative;
    bottom: 30px;
}
section.two h2,section.four h2{
    position: absolute;
    display: flex;
    color: black;
    padding-bottom: 30px;
    justify-content: flex-start;
}
section.two h2{
    top: 30px;
}
section.two h2,section.four h2{
    position: relative;
    justify-content: center;
    bottom: -10px;
}
section.two p,section.four p{
    position: relative;
    text-align: center;
    top: 10px;
}
.header{
    padding: 0px 70px;
}
.header h1{
    color: black;
    position: absolute;
    top: 100px;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.header p{
    position: relative;
    top: 150px;
}
section{
    position: absolute;
    top: 250px;
}
@media(max-width:760px){
    body{
        overflow-x: hidden;
    }
    nav{
        position: fixed;
        padding: 20px;
        top: -5px;
    }
    nav h1{
        position: absolute;
        left: -20px;
    }
    nav ul li{
        position: relative;
        display: flex;
        padding: 10px;
        padding-top: 0px;
        justify-content: space-around;
        left: 70%;
    }
    section{
        max-width: 300px;
    }
}