@import url('https://fonts.googleapis.com/css?family=Galada|Oswald|Sriracha&display=swap');

:root {
  --dark-color : #041811;
  --primary-green: #489772;
  --font-color: #777;
  --light-color: #fff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--light-color);
}

a {
  text-decoration: none;
}


main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

/* side view */
.side__view {
  width: 100%;
  height: inherit;
  background: url('./img/mail.png') no-repeat center center/cover;
  padding: 3rem 5rem 0 5rem;
}

.side__view > .brand__name {
  background: linear-gradient(to left, #ecf5ee, #e0f0df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-family: 'Galada', cursive;
  margin-bottom: 1.5rem;
}

.btn {
  background: linear-gradient(to left, var(--primary-green), var(--dark-color));
  font-size: medium;
  padding: .8rem 3.5rem;
  border-radius: 25px;
  color: #f3f3f3;
  margin: 0 auto;
  box-shadow: -2px 2px 58px -23px var(--primary-green), -2px 2px 58px -23px var(--dark-color);
  opacity: 0;
  animation: btn forwards 3s 3s;
  transition-property: transform;
  transition-duration: 1s;
}

.btn:hover {
  transform: rotateY(180deg);
}

/* alternate view */
.alternate__view {
  width: 100%;
  height: inherit;
  padding: 4rem 3rem 0 3rem;
}

.alternate__view > .heading__1 {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  font-weight: lighter;
  text-transform: capitalize;
  color: #3d3d3d;
  animation: heading forwards 3s;
  position: relative;
}

.alternate__view > hr {
  width: 20%;
  height: 4px;
  margin: 5px auto;
  background: linear-gradient(to left, var(--primary-green), var(--dark-color));
  position: relative;
  animation: hr forwards 4s;
}

form {
  width: 100%;
  height: 47%;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  position: relative;
  margin-top: .8rem;
  animation: form forwards 7s;
}

label {
  text-align: left;
  font-size: medium;
  text-transform: capitalize;
}

input {
  max-width: 640px;
  width: 100%;
  margin: 7px 0px 30px 0px;
  padding: 5px 6px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: normal;
  outline: none;
}

input:focus {
  border-bottom: 2px solid var(--dark-color);
}

.password__input {
  margin-bottom: 15px;
}

.fg-password {
  text-align: right;
  margin-bottom: 40px;
  color: #485d97;
  font-size: medium;
}

.fg-password:hover, .alt-google:hover{
  color: #040918;
}

.alt-or {
  font-size: medium;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
  color: #3d3d3d;
  position: relative;
  width: 50%;
  margin: 0 auto;
  animation: form forwards 8s;
} 

.alt-or::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: var(--dark-color);
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: -2;
} 

.alt-or::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: var(--dark-color);
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: -2;
} 

.alt-or span {
  background: #fff;
}

.alt-google {
  font-size: medium;
  text-transform: capitalize;
  color: #485d97;
  position: relative;
  animation: form forwards 9s;
}

.alt-google img{
  vertical-align: middle;
}

.text-gray {
  color: #777;
  font-size: small;
  position: relative;
  animation: form forwards 10s;
}

/* keyframes */
@keyframes heading {
  0%{ top: -200px; }
  100% { top: 0; }
}

@keyframes hr {
  0%{ right: -1000px; }
  100% { right: 0; }
}

@keyframes form {
  0%{ opacity: 0;}
  100% { opacity: 1; }
}

@keyframes btn {
  0%{ opacity: 0;}
  100% { opacity: 1; }
}

@media screen and (min-width: 300px) and (max-width: 500px){
  main {  display: block; }

  .side__view { padding: 5rem 1.5rem 0 1.5rem; }

  .alternate__view { padding: 5rem 2rem 0 2rem; }
    
  form {
    margin-top: 2rem;
    height: 40%;
    padding: 0 1.5rem;
  }

  @keyframes heading {
    0%{ opacity: 0;}
    100% { opacity: 1;}
  }

  .alt-or::before { width: 40px;}
    
  .alt-or::after { width: 40px; }
}

@media screen and (max-width: 768px){
  main {  display: block;}

  form {
    margin-top: 2rem;
    height: 45%;
    padding: 0 1.5rem;
  }

  label { font-size: 15px; }
    
  .fg-password { font-size: medium;}
    
  @keyframes heading {
    0%{ opacity: 0;}
    100% { opacity: 1;}
  }

  .alt-or::before { width: 100px;  } 
    
  .alt-or::after { width: 100px; } 
    
}

@media screen and (max-width: 926px){ 
  form { 
    margin-top: 2rem; 
    padding: 0 1rem; 
  }  

  .alt-or::before { width: 60px; } 
    
  .alt-or::after { width: 60px; } 
}

@media screen and (max-width: 1130px){ 
  form {
    margin-top: 2rem;
    height: 45%; 
    padding: 0 1rem; 
  }  

  .alt-or::before { width: 70px; } 
    
  .alt-or::after { width: 70px; } 
}

