a{
    text-decoration: none;
    color: #1f3d7a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav{
    margin-left: 30vw;
    grid-column: 1 / -1;
}
span{
    padding: 1.5em;
}
#login{
    margin-left: 13em;
    padding: 0px;
}
#Contact{
    padding: 0px;
    justify-self: left;
    align-self: left;
    margin-left: 4em;
}
.Section{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    max-height: 500px;
    background-color: antiquewhite;
    justify-self: left;
}
#h1{
    font-size: 3em;
    color: #1f3d7a;
    font-weight: bold;
}
img{
    grid-row: 1 / 2;
    margin-top: -50px;
}
#text{
    /* grid-row: 1 / ; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 80vh;
}

#grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 80vh;
    padding-top: 5em;
}
#par{
    grid-column: 1 / -1;
    margin-left: 10em;
}
#heads{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f3d7a;
    font-weight: bold;
    font-size: 3em;
}
#img2{
    margin-left: 10em;
}
#headsy{
    grid-template-columns: 1 / -1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f3d7a;
    font-weight: bold;
    font-size: 3em;
    margin-left: 5em;
}
#grid4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 80vh;
    padding-top: 5em;
}
#grid5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 80vh;
    padding-top: 5em;
    background-color: rgb(231, 213, 190);
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    max-height: 500px;
    margin-left: 15px;
    margin-top: -15em;
}
#img5{
    margin-left: 12em;
}
#heads2{
    grid-template-columns: 1 / -1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f3d7a;
    font-weight: bold;
    font-size: 3em;
    margin-right: 5em;
   
}
#grid6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 80vh;
    padding-top: 5em;
}
#grid7{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 80vh;
    padding-top: 5em;
}
#grid8{
    display: grid;
    grid-template-columns: 50vw ;
    grid-template-rows: 30vh 70vh;
}
#text9{
    grid-template-columns: 2 / -1;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f3d7a;
    font-weight: bold;
    font-size: 2em;
    margin-right: 8em;
    padding-bottom: 30px;
    margin-top: -3em;
}
#fe8{
    margin-left: 11em;
}