*{
    margin: 10px;
    padding:10px;
    background-color: lightblue;
}
h1{
    color: wheat;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.p1{
    color: rgb(193, 221, 200);
    font-size: 15px;
    font-style: italic;
}

p#p2{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}