body{
    color: blueviolet;
    background-color: chartreuse;
}
.me{
    font-weight: bolder;
}
#myself{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}