/************
 GENERAL
************/
* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
    
}

 h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
} 
ul.nav li {
    font-size: 2rem;
}

body {
    font-family: sans-serif;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

/* a img {
    height: 30px;
} */


/************
 HEADING
************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: sans-serif;
    margin: 15px 0;
    line-height: 0.8em;
}

h2 {
    
    margin: -5px 0 0;
    font-weight: normal;
}

/************
 NAVIGATION
************/
nav {
    text-align: center;
    padding: 10px 0;
    margin:20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
     
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding:  15px 10px;
}



/************
 FOOTER
************/

footer {
    font-size: 1.5em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;


}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/************
 PAGE PORTFOLIO
************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: 0;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color:#bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #bdc3c7;

}

/************
 PAGE: ABOUT
************/
.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%; 
}

/************
 PAGE: CONTACT
************/

 .contact-info a{
    
    
    padding: 0 0 0 20px;

} 

i {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    
}

/************
 COLORS
************/

/******site body****/
body {
    background-color: #fff;
    color:#999;
}

/* green header*/
header {
    background: #6ab47b;
    border-color: #599a68;
}

/* nav background on mobile*/
nav {
    background: #599a68;
}

/* logo text*/
h1, h2 {
    color: #fff;
}

a {
    color: #6ab47b;
}

/* nav link*/
nav a, nav a:visited {
    color: #fff;
}
/* selected nav link*/
nav a.selected, nav a:hover {
    color: #32673f;

}
