* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 255, 0.6);
    font-family: sans-serif;
}
#main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
    background-color: blue;
    padding: 20px;
    animation: change 5s ease-out infinite;
    

}
span {
    color: #fff;
    
}
span.first {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 24px;
    animation: span1 1s ease-out;
    display: block;
    margin-bottom: 0;
}

span.second {
    font-size: 20px;
    
}
.btn:link, .btn:visited {
    text-decoration: none;
    color: #777;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    margin: 10px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px;
}
 @keyframes change {
     0% {
         background-color: blue;
         width: 300px;

     }

     100% {
        background-color: green;
        width: 350px;
     }
 }

 @keyframes span1 {
     0% {
         opacity: 0;
         
     }

     100% {
        opacity: 1;
        transform: translate(0)
    }

 }
    
/**********
CSS GRID
**********/

main {
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 100px 300px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 100%;
    left: 50%;
}


.box1 {
    background-color: aqua;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

 .box2 {
    background-color: red;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.box3 {
    background-color: green;
    grid-column: 2/3;
    grid-row: 2/3;

    text-align: center;
    
}

.box4 {
    background-color:blue;
    grid-column: 3/4;
    grid-row: 2/3; 
    text-align: center; 
}

.box5 {
    background-color: yellow;
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;  
}


 
