h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p, footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header > p > a{
    color: crimson;
    text-decoration: none;
}

#form{
    margin: 20px;
    padding: 25px;
    border: 3px solid grey;
    border-radius: 10px;
    text-align: center;
    background-color: burlywood;
}

.content{
    text-align: center;
    padding: 15px;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 25px 25px;
}

.first, .last{
    font-weight: bold;
}

#fname, #sname, #mail{
    width: 40%;
}

#feedback{
    width: 50%;
    padding: 25px 50px 75px;
}
input{
      margin-bottom: 10px;
	  font-size: 11pt;
	  padding: 15px 10px 10px;
	  border: 1px solid #114a64;
	  background-color: #efefef;
	  border-radius: 5px;
}

#submit{
        background-color: #127027;
        padding: 12px 45px;
        border-radius: 5px;
        cursor: pointer;
        color: #ffffff;
        border: none;
        outline: none;
        margin: 0;
        font-weight: bold;
}

#submit:hover {
    background-color: #2f3a11;
}

footer{
    text-align: center;
}

footer> p> a{
    color: crimson;
    text-decoration: none;
}
