body {/*padding: 0px;
      margin: 0px;*/
      background-image: url(../Abdulhaleem_FE_assignment1/Media/powerbi\ 9.jpg) ;
      height: 700px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
section {height: 93%;
         width: 28%;
         background-color: plum;
         opacity: .8;
         position: absolute;
         top: 5%;
         left: 38%;
         border-radius: 20px;
}
h1 {text-align: center;
    font-size: 150%;     
}
h1::first-letter {font-size: 300%;
    }
.image1 {height: 20%;
         width: 30%;
         border-radius: 50%;
         position: absolute;
         top: 20%;
         left: 35%;
}
.username {padding: 30% 15%;
           color: black;
           font-weight: bold;
           font-size: 125%;
}
.image2 {width: 20px;
         height: 20px;
         padding: 16px 10px;
         opacity: .8;
         border-radius: 50%;
}
.password {padding: 20%  50%;
           color: black;
           font-weight: bold;
           font-size: 125%;
           position: absolute;
           top: 40%;
           left: -35%;
}
.username_collector {height: 6%;
                     width: 65%;
                     border-radius: 30px;
                     position: absolute;
                     top: 45%;
                     left: 15%;

}
.password_collector {height: 6%;
                     width: 65%;
                     border-radius: 30px;
                     position: absolute;
                     top: 62%;
                     left: 15%;
}
.submit {width: 80%;
         height: 9%;
         border-radius: 30px;
         position: absolute;
         top: 75%;
         left: 10%;
         font-size: 24px;
         font-weight: bold;
         background-color:lightskyblue;
}
.third_paragraph {text-indent: 0%;
                  font-size: 110%;
                  padding: 50% 40%;
}
span {position: absolute;
    top: 92%;
    left: 5%;

}
.register {position: absolute ;
    left: 70%;
}
.register:hover {
    background-color: lightskyblue;
    width: 20%;
    border-radius: 20px;
    color:black;
    font-weight: bold;
    font-size: 130%;
    
}
.reset_password {
    position: absolute;
    top: 85%;
    left: 27%;
}