body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, .container{
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

form{
    background-color: #373737;
    display: flex;
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 270px;
    padding: 25px;
    position: relative;
    box-shadow: 11px 7px 24px -4px rgba(0,0,0,1);
}

input{
    width: 90%;
    padding: 5px;
}

input[type=checkbox]{
    width: 20px;
    margin: 10px 0px 0px 0px;
    display: inline-block;
}

button{
    display: block;
    margin-top: 20px;
    border: none;
    padding: 10px;
    width: 100px;
    position: absolute;
    top: 240px;
    right: 20px;
    cursor: pointer;
}

#header{
    position: absolute;
    top: -11px;
    right: 150px;
    margin-bottom: 10px;
}

#content{
    position: absolute;
    top: 70px;
    width: 90%;
}

label{
    margin: 5px 0px 5px 0px;
}

.details{
    margin: 7px 0px 7px 0px;
}

@media screen and (max-width: 800px) {
    form {
        width: 70%;
    }
    input{
        width: 90%;
    }
}